header.header
  .header__culumn
    a(href=routes.home)
      i.fab.fa-youtube
  .header__culumn
    form(action=routes.search, method="get")
      input(type="text", placeholder="Search...", name="term")
      button(type="button")
        i.fa.fa-search
  .header__culumn
    ul
      if !user.isAuthenticated
        li
          a(href=routes.join) Join
        li
          a(href=routes.login) Login
      else
        li
          a(href=routes.videos+routes.upload)
            i.fas.fa-upload
              span.tooltiptext Upload Video
        li
          a(href=routes.userDetails(user.id))
           i.fas.fa-user-circle
              span.tooltiptext Profile
        li
          a(href=routes.logout) Logout